@use '../utils' as *;

.app {
    height: 100vh;
    width: 100%;
    
    .app-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        color: white;
        
        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 70%;
            width: 50%;
            position: relative;
            z-index: 5;
            
            .bg {
                border-radius: rem(25px);
                // background: whitesmoke;
                height: 100%;
                width: 100%;
                opacity: .7;
                background-color: black;
                position: absolute;
                z-index: -1;
            }
    
            .app-title {
                // margin-bottom: rem(25px);
                // font-family: var(--font-title);
                // font-size: rem(40px);
                // color: hsl(240, 100%, 25%);
                width: rem(200px);
                height: rem(200px);
            }

            .app-title-secondary {
                margin-bottom: rem(10px);
            }
            .form {
                display: flex;
                flex-direction: column;
                align-items: center;

                input {
                    padding: rem(15px) rem(30px);
                    font-size: rem(40px);
                    text-align: center;
                    font-family: var(--font-general);
                    font-weight: var(--font-bold);
                    border-radius: rem(25px);
                    margin-bottom: rem(25px);
                }

                button {
                    margin-bottom: rem(25px);
                    width: rem(200px);
                    height: rem(50px);
                    border: none;
                    border-radius: rem(25px);
                    background-color: hsl(240, 100%, 25%);
                    color: white;
                    font-family: var(--font-general);
                    font-weight: var(--font-semi-bold);
                    font-size: rem(20px);

                    &:hover {
                        background-color: white;
                        color: hsl(240, 100%, 25%);
                        box-shadow: 5px 5px 15px 5px rgba(0, 0, 128, .5);
                    }
                }
            }
        }
    }
}