@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&family=Space+Mono:wght@400;700&display=swap');

:root {
    //Fonts
    --font-general: 'Montserrat', sans-serif;
    --font-title: 'Space Mono', sans-serif;
    //Font-weights
    --font-light: 100;
    --font-regular: 300;
    --font-medium: 400;
    --font-semi-bold: 600;
    --font-bold: 700;
    //Font-sizes
}